# -------------------------
# Node & TypeScript
# -------------------------
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local

# TypeScript artifacts
*.tsbuildinfo

# -------------------------
# Docker
# -------------------------
# Evitar cache y volúmenes generados
**/.docker/
**/.temp/
**/.cache/
**/.history/
*.pid

# Archivos temporales dentro de contenedores
**/tmp/
*.log

# -------------------------
# Editor / Sistema Operativo
# -------------------------
# VS Code
.vscode/
.history/

# JetBrains
.idea/
*.iml

# Mac / Linux / Windows
.DS_Store
Thumbs.db
desktop.ini

# -------------------------
# Logs
# -------------------------
logs/
*.log
*.log.*
npm-*.log

# -------------------------
# Test / Cobertura
# -------------------------
coverage/
.jest/
*.lcov
test-results/
reports/

# -------------------------
# Auto-Generados
# -------------------------
*.zip
*.tar.gz
*.tgz

# -------------------------
# No subi
